body{
  background-color: black;
  text-align: center;
   margin-left: auto;
   margin-right: auto;
}

.white-text{
  color: white;
}

.vertical-align{
  padding-top: 300px;
}
/* table {
  margin: auto;
 } */
